
<link rel="stylesheet" href="/css/index.css">

<div class="container mt-5">
    <h1>A comprehensive platform for reliable
        job opportunities and internships.</h1>
    <p>Choose an option below:</p>

    <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <a href="/jobs" class="btn btn-primary btn-lg">Jobs</a>
        <a href="/register" class="btn btn-success btn-lg">Recruiters</a>
    </div>
</div>


