<!-- <link rel="stylesheet" href="/css/success.css"> -->

<link rel="stylesheet" href="/css/success.css">





    <div class="success-container">
        <h1>Application Submitted Successfully</h1>
        <p>Your job application has been submitted successfully. Thank you for applying!</p>
        <a href="/jobs">Go back to Jobs</a>
    </div>

